# DATA FRAME ORIGINAL - Project Tweets

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ProjectTweets.csv')
df.head(5)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,5,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [3]:
df.shape

(1599999, 6)

In [4]:
df.dtypes

0                                                                                                                       int64
1467810369                                                                                                              int64
Mon Apr 06 22:19:45 PDT 2009                                                                                           object
NO_QUERY                                                                                                               object
_TheSpecialOne_                                                                                                        object
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [6]:
df.isnull().sum()

0                                                                                                                      0
1467810369                                                                                                             0
Mon Apr 06 22:19:45 PDT 2009                                                                                           0
NO_QUERY                                                                                                               0
_TheSpecialOne_                                                                                                        0
@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D    0
dtype: int64

In [7]:
df.loc[-1] = df.columns
df.index = df.index + 1
df.sort_index(inplace=True)

In [8]:
df.head(5)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [9]:
new_columns = ["Index", "ID", "Date/Time", "Info", "User", "Tweet"]
df.columns = new_columns
df1 = df

In [10]:
df1.head(3)

,Index,ID,Date/Time,Info,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

In [11]:
df1.shape

(1600000, 6)

In [13]:
from nltk.tokenize import word_tokenize

df1['Tokenized_Tweet'] = df1['Tweet'].apply(lambda x: word_tokenize(x.lower()))


keywords = keywords = ['love', 'fear', 'surprise', 'disgust', 'contentment', 'confusion',
                       'curiosity', 'gratitude', 'empathy', 'enthusiasm', 'happiness',
                       'hate', 'joy','sadness', 'anger', 'neural networks', 
                       'excitement']
fill = df1['Tokenized_Tweet'].apply(lambda tokens: any(keyword.lower() in tokens for keyword in keywords))


df2 = df1[fill]


print(df2)

           Index          ID                     Date/Time      Info
18            18  1467813579  Mon Apr 06 22:20:31 PDT 2009  NO_QUERY  \
25            25  1467814438  Mon Apr 06 22:20:44 PDT 2009  NO_QUERY
33            33  1467816149  Mon Apr 06 22:21:11 PDT 2009  NO_QUERY
42            42  1467818603  Mon Apr 06 22:21:49 PDT 2009  NO_QUERY
56            56  1467822384  Mon Apr 06 22:22:47 PDT 2009  NO_QUERY
...          ...         ...                           ...       ...
1599912  1599912  2193575376  Tue Jun 16 08:38:40 PDT 2009  NO_QUERY
1599917  1599917  2193575745  Tue Jun 16 08:38:41 PDT 2009  NO_QUERY
1599924  1599924  2193576003  Tue Jun 16 08:38:43 PDT 2009  NO_QUERY
1599943  1599943  2193576854  Tue Jun 16 08:38:47 PDT 2009  NO_QUERY
1599960  1599960  2193577726  Tue Jun 16 08:38:52 PDT 2009  NO_QUERY

                  User                                              Tweet
18          starkissed  @LettyA ahh ive always wanted to see rent  lov...  \
25       ChicagoCubbie     I hate when I have to call and wake people up
33            Pbearfox  @julieebaby awe i love you too!!!! 1 am here  ...
42           kennypham  Sad, sad, sad. I don't know why but I hate thi...
56         Lindsey0920             @oanhLove I hate when that happens...
...                ...                                                ...
1599912     happykatie  @ShannonGilliam good luck!!  what an exciting ...
1599917   rockchick_30                 @30STMWithJared love your tattoo!
1599924   izzybizzy113  @McflyEngland haha yeah  but of course i love ...
1599943  lindsaycherry                @cate45_1999 I love all the pics!!
1599960       FrayBaby     @pokapolas love the donut and the toadstool.

                                           Tokenized_Tweet
18       [@, lettya, ahh, ive, always, wanted, to, see,...
25       [i, hate, when, i, have, to, call, and, wake, ...
33       [@, julieebaby, awe, i, love, you, too, !, !, ...
42       [sad, ,, sad, ,, sad, ., i, do, n't, know, why...
56        [@, oanhlove, i, hate, when, that, happens, ...]
...                                                    ...
1599912  [@, shannongilliam, good, luck, !, !, what, an...
1599917         [@, 30stmwithjared, love, your, tattoo, !]
1599924  [@, mcflyengland, haha, yeah, but, of, course,...
1599943    [@, cate45_1999, i, love, all, the, pics, !, !]
1599960  [@, pokapolas, love, the, donut, and, the, toa...

[83941 rows x 7 columns]

In [14]:
df2.shape

(83941, 7)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83941 entries, 18 to 1599960
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Index            83941 non-null  object
 1   ID               83941 non-null  object
 2   Date/Time        83941 non-null  object
 3   Info             83941 non-null  object
 4   User             83941 non-null  object
 5   Tweet            83941 non-null  object
 6   Tokenized_Tweet  83941 non-null  object
dtypes: object(7)
memory usage: 5.1+ MB

In [16]:
df2.to_parquet("/home/hduser/Desktop/TWEETS_NEW.parquet")